.container {
    height: 100%;
}

.landing {
    display: table;
    width: 100%;
    height: 100%;
    .landing__item {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        a {
            display: inline-block;
            text-align-last: auto;
        }
    }
}