@import url(https://fonts.googleapis.com/css?family=Glegoo:400,700);


$clr-pri: #ffa10c;

$bg-body: #000;
$clr-body: #fff;

$font-1 : 'Glegoo';

$path-images: '../images';

$font-pri: $font-1, serif;
