block title

block meta
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	meta(name="HandheldFriendly" content="True")
	meta(name="MobileOptimized" content="320")

block styles
	link(rel='stylesheet' href='assets/styles/main.css')
	link(href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css')

block icons
	include ../partials/favicons.jade

block scripts
	script(src="js/jquery-2.2.2.min.js")
